main * {
    background-color: #F1ECE2;
}



header {
    display: flex;
    justify-content: space-between;
    background-color: #5A3E29;
}

.logo {
    height: 100px;
    width: 100px;
}

.navbar-menu, .navbar-ul {
    display: flex;
}

.navbar-menu {
    margin-top: auto;
    margin-bottom: auto;
}

.navbar-ul {
    list-style-type: none;
    margin-bottom: 0px;
}

.navbar-li {
    margin: 40px;
    color: #F1ECE2;
}

.navbar-a:visited, .navbar-a:active, .navbar-a {
    color: #F1ECE2;
    text-decoration: none;
    font-size: 1.3rem;
}

.container-connect {
    display: flex;
    align-items: flex-start;
    margin: 20px;
}

main {
    display: flex;
    flex-direction: column;
}

.container-top {
    display: flex;
    justify-content: flex-end;
    text-align: center;
    padding: 50px;
}

.top {
    color: #677423;
    font-size: 32px;
}

.container-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
}

.middle {
    font-size: 28px;
    margin: 0px;
}

.container-bottom {
    display: flex;
    justify-content: flex-start;
    text-align: center;
    padding: 50px;
}

.bottom {
    color: #677423;
    font-size: 32px;
}