header {
    display: flex;
    justify-content: space-between;
    margin-left: 25%;
}

.logo {
    height: 10%;
    width: 20%;
}




/*height: 50vw;
    width: 60%;
    position: absolute;
    left: -20vw;
    top: -15vw;*/