
  
  
@font-face {
    font-family: 'OPTINaval';
    src:url('OPTINaval.ttf.woff') format('woff'),
        url('OPTINaval.ttf.svg#OPTINaval') format('svg'),
        url('OPTINaval.ttf.eot'),
        url('OPTINaval.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

main * {
    background-color: #F1ECE2;
}

header {
    display: flex;
    justify-content: center;
    background-color: #5A3E29;
    position: fixed;
    width: 100%;
}

.logo {
    height: 200px;
    width: 200px;
    position: absolute;
    left: 10px;
}

.nav-container {
    display: flex;
    justify-content: center;
    background-color: #5A3E29;
}

nav, ul {
    display: flex;
    justify-content: center;
}

.navbar-menu {
    margin-top: auto;
    margin-bottom: auto;
}

.navbar-ul {
    list-style-type: none;
    margin-bottom: 0px;
}

.navbar-li {
    margin: 40px;
    color: #F1ECE2;
}

.navbar-a:visited, .navbar-a:active, .navbar-a {
    color: #F1ECE2;
    text-decoration: none;
    font-size: 1.3rem;
}

.container-connect {
    position: absolute;
    right: 20px;
    margin: 40px;
}

.hamburger {
    display: none;
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }  


.user {
    height: 40px;
    width: 40px;
}

.connect {
    border-radius: 10px;
    border: none;
    background-color: transparent;
    color: #F1ECE2;
    font-weight: 600;
}

main {
    display: flex;
    flex-direction: column;
}

.container-top {
    display: flex;
    justify-content: flex-end;
    text-align: center;
    padding: 50px;
    margin-top: 110px;
}

.top {
    color: #677423;
    font-size: 32px;
    font-family: 'OPTINaval';
}

.container-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
}

.middle {
    font-size: 28px;
    margin: 0px;
    font-family: 'OPTINaval';
}

.middle-line {
    border-top: solid 1px black;
    height: 1px;
    width: 100px;
    margin: 19px;
}

.container-bottom {
    display: flex;
    justify-content: flex-start;
    text-align: center;
    padding: 45px;
}

.bottom {
    color: #677423;
    font-size: 32px;
    font-family: 'OPTINaval';
}

.raclette {
    height: 23vw;
    width: 50vw;
    position: absolute;
    right: 0px;
    bottom: 0px;
    background-color: transparent;
}

.raclette-container {
    display: flex;
    justify-content: space-between;
}

.horaires-container {
    padding-top: 50px;
    padding-right: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.voir-horaires {
    margin: 0px;
    line-height: 1.20rem;
}

.triangle {
    height: 30px;
    width: 70px;
    transform: scaleY(-1);
    margin-bottom: 11px;
}

.click-horaires:hover, .navbar-a:hover, .logo:hover {
    zoom: 110%;
}

.click-horaires {
    color: #5A3E29;
    text-decoration: none;
}

footer {
    display: flex;
    justify-content: space-around;
    background-color: #5A3E29;
    padding: 20px;
}

.section-footer {
    text-align: center;
    color: #F1ECE2;
}



@media screen and (max-width: 980px) {
    nav ul {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: #5A3E29;
      padding: 10px;
      
    }
  
    nav ul.show {
      display: flex;
      border-top: solid 3px #F1ECE2;
      border-bottom: solid 3px #F1ECE2;
    }
  
    nav ul li {
      margin: 10px 0;
    }

    .navbar-li {
        border-left: 2px solid #F1ECE2;
        padding-left: 10px;
        list-style-type: disc;
    }

    .logo {
        z-index: 1;
    }
  
    .hamburger {
      display: block;
      margin: 50px;
      border: solid 1px black;
      border-radius: 7px;
      background-color: #F1ECE2;
      box-shadow: 0px 0px 10px black;
    }
  }