/*-----Global----*/

main * {
    background-color: #F1ECE2;
}

.page-title {
    font-family: 'IM Fell Great Primer SC', serif;
    font-size: 2.2rem;
}




/*-----Header----*/

header {
    display: flex;
    justify-content: center;
    background-color: #5A3E29;
    opacity: 1;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #5A3E29 40px ), repeating-linear-gradient( #49322055, #493220 );
    box-shadow: 5px 0px 20px;
    position: fixed;
    width: 100%;
    z-index: 999;
    position: absolute;
}

.logo {
    height: 200px;
    width: 200px;
    position: absolute;
    left: 10px;
}

.logo:hover {
    zoom: 102%;
}

.nav-container {
    display: flex;
    justify-content: center;
    background-color: transparent;
}

nav, ul {
    display: flex;
    justify-content: center;
}

.navbar-menu {
    margin-top: auto;
    margin-bottom: auto;
}

.navbar-ul {
    list-style-type: none;
    margin-bottom: 0px;
}

.navbar-li {
    margin: 40px;
    color: #F1ECE2;
}

.navbar-a:visited, .navbar-a:active, .navbar-a {
    color: #F1ECE2;
    text-decoration: none;
    font-size: 1.3rem;
}

.navbar-a:hover {
    text-shadow: 0px 0px 10px;
}

.container-connect {
    position: absolute;
    right: 20px;
    margin: 40px;
}

.hamburger {
    display: none;
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }  


.user {
    height: 40px;
    width: 40px;
}

.connect {
    border-radius: 10px;
    border: none;
    background-color: transparent;
    color: #F1ECE2;
    font-weight: 600;
    text-decoration: none;
}

/*----index.html----*/

main {
    padding-top: 110px;
    background-color: #F1ECE2;
}

.container-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 50px;
}

.top-title {
    color: #677423;
    background-color: transparent;
    font-size: 32px;
    font-family: 'IM Fell Great Primer SC', serif;
    padding: 20px;
    padding-bottom: 50px;
}

.diapo {
    height: 250px;
    overflow: hidden;
    box-shadow: 0px 0px 10px;
}

.diapo-item {
    height: auto;
    width: 100%; /* 100% de la largeur pour s'adapter au carré */
    margin-top: -70%; /* décale l'image de 50% vers le haut pour afficher le centre */
    position: relative; /* pour que la marge n'affecte pas la position de l'image */
}

.container-middle {
    display: flex;
    justify-content: space-around;
    padding: 30px;
    padding-top: 100px;
    
}

.container-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.middle {
    font-size: 28px;
    font-family: 'IM Fell Great Primer', serif;
}

.middle-line {
    border-top: solid 1px black;
    height: 1px;
    width: 100px;
    margin: 19px;
}

.container-carousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 47vw;
}

.galerie-item:hover .carousel-title * {
    display: block;
}

.carousel-title * {
    display: none;
    font-family: 'IM Fell Great Primer', serif;
    padding: 5px;
    margin: 10px;
    background-color: #5A3E29;
    color: #F1ECE2;
    border-radius: 5px;
    box-shadow: 0px 0px 10px black;
}

.galerie {
    height: 50vw;
    overflow: hidden;
}

.galerie-img {
    width: 100%;
}

.galerie-item {
    height: 30vw;
    width: 100%;
    position: sticky;
}

.caption-container {
    border-radius: 2px;
    background-color: rgba(241, 236, 226, 0.6);
    border: #5A3E29 solid 2px;
    border-right: none;
    border-bottom: none;
}

.caption-container h5, .caption-container p {
    background: transparent;
}

.container-bottom {
    display: flex;
    justify-content: flex-start;
    text-align: center;
    padding: 45px;
}

.bottom {
    color: #677423;
    font-size: 32px;
    font-family: 'IM Fell Great Primer SC', serif;
}




/*----carte.html----*/


.carte-main-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'IM Fell Great Primer', serif;
}

.carte-title {
    padding-top: 20px;
    padding-bottom: 50px;
}

.carte-carte-a {
    background-color: transparent;
}

.carte-titles, .carte-food-content, .carte-menu-titles, .carte-menu-content {
    text-align: center;
}

.carte-titles, .carte-menu-titles {
    font-size: 1.5rem;
    font-weight: 600;
}

.carte-carte {
    width: 50vw;
    margin-bottom: 100px;
    box-shadow: 0px 0px 10px black;
}

.carte-titles {
    color: #677423;
}

.carte-menu-titles {
    color: #5A3E29;
}

.carte-food {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
}

.carte-sections {
    padding: 20px;
}

.carte-menus {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
}

.carte-menu-titles {
    padding: 10px;
    background-color: transparent;
    color: #F1ECE2;
    font-weight: 500;
}

.carte-menu-sections {
    border: solid 2px #5A3E29;
    background-color: #5A3E29;
    opacity: 1;
    background-image: radial-gradient(#6a513e 1.1px, #5A3E29 1.1px);
    background-size: 22px 22px;
    border-radius: 10px;
    width: 100%;
    box-shadow: 0px 0px 10px black;
}

.carte-menu-content {
    background-color: transparent;
    color: #F1ECE2;
}

.carte-desserts {
    padding-bottom: 150px;
    background-color: transparent;
}




/*----reserver.html----*/

.reserver-main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5vw;
}

.reserver-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F1ECE2;
    border: solid 5px #5A3E29;
    border-radius: 15px;
    padding: 1vw;
    box-shadow: 0px 0px 10px;
    margin: 30px;
}

.reserver-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 30px 30px 30px;
}

.reserver-form label {
    font-family: 'IM Fell Great Primer', serif;
    padding: 10px;
    font-size: 1.2rem;
}

.reserver-form input[type="text"], input[type="date"], select {
    background-color: white;
    border-radius: 5px;
    border: none;
    padding: 7px;
}

.person-number {
    font-size: large;
    font-weight: 600;
}

.reserver-form-infos {
    display: flex;
    justify-content: space-around;
}

.reserver-form-nom {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.reserver-form-tel {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    border-radius: 50%;
    background-color: #5A3E29;
    margin-top: -6px;
  }

  input[type="range"]::-moz-range-thumb {
    appearance: none;
    border-radius: 50%;
    background-color: #5A3E29;
    margin-top: -6px;
  }

.range {
    padding: 10px;
}

input[type="range"]::-webkit-slider-runnable-track {
    background-color: black;
    height: 2px;
  }
input[type="range"]::-moz-range-track {
    background-color: black;
    height: 2px;
  }
  
.date, .heure {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.reserver-form-allergies {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reserver-form-textarea-allergies {
    background-color: white;
    border-radius: 5px;
    border: none;
    resize: none;
    width: 45vw;
}

#form-btn-fieldset {
    margin-top: 50px;
}

.reserver-form-btn {
    background-color: #5A3E29;
    color: #F1ECE2;
    padding: 7px;
    border-radius: 7px;
    border: none;
}




/*----sign-form.html----*/

.sign-form-main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5vw;
}

.sign-form-title {
    text-align: center;
    padding-bottom: 30px;
}

.sign-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F1ECE2;
    border: solid 5px #5A3E29;
    box-shadow: 0px 0px 10px black;
    border-radius: 15px;
    padding: 1vw;
}

.sign-form-inline {
    display: flex;
    justify-content: space-around;
}

.sign-form-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




/*----espace-perso.html----*/


.espace-perso-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5vw;
}

.espace-perso-main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F1ECE2;
}



/*----Dashboard-admin.html----*/

.dashboard-admin-container {
    display: flex;
}

.dash-menu-lateral * {
    background-color: #4b3321;
    color: #F1ECE2;
}

.dash-menu-lateral {
    background-color: #4b3321;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 110px;
    width: 15vw;
}

.dash-menu-lateral img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.dash-categories {
    width: 70%;
    padding: 5px;
    padding-bottom: 15px;
    padding-top: 15px;
    border-bottom: solid 2px #F1ECE2;
    font-size: 0.8rem;
}

.dash-categories:hover {
    cursor: pointer;
}

.dash-main-content {
    padding-top: 30px;
    padding-bottom: 20px;
}

.dash-content-title {
    padding: 30px;
}

/*----Reservations----*/
.dash-reservations-main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.dash-reservations-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 5px #5A3E29;
    box-shadow: 0px 0px 10px black;
    border-radius: 15px;
    height: 70%;
    width: 60%;
}

.dash-reservations-container h3 {
    padding: 20px;
}

.dash-reservations-container *, .dash-reservations-container {
    background-color: transparent;
}

.dash-reservations-tab {
    height: 30vw;
    width: 40vw;
    border: solid 2px #000000;
}

.dash-reservation-container {
    height: 70px;
    width: 100%;
    background-color: gray;
}

#dash-reservations-date {
    margin: 40px;
}

.dash-reservations-main-content {
    display: none;
}

/*----Galerie----*/
.dash-galerie-main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.dash-galerie-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 5px #5A3E29;
    box-shadow: 0px 0px 10px black;
    border-radius: 15px;
    height: 70%;
    width: 60%;
}
.dash-galerie-container *, .dash-galerie-container {
    background-color: transparent;
}

.dash-galerie-carousel {
    border: solid 2px #000000;
    height: 30vw;
    width: 40vw;
    margin: 2vw;
}

.dash-galerie-modif-label {
    font-weight: 600;
}

#dash-galerie-modif {
    background-color: white;
    border: solid 1px black;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 50px;
}

.dash-galerie-main-content {
    display: none;
}
/*----Carte----*/
.dash-carte-main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.dash-carte-container {
    display: flex;
}

.dash-carte-menus-container {
    display: flex;
}

.dash-carte-choose-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2vw;
}

.dash-carte-carte {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vw;
    width: 40vw;
    border: solid 1px black;
}
    
#dash-carte-img {
    height: 100%;
    width: 60%;
}

#dash-import-carte-btn {
    background-color: #5A3E29;
    color: #F1ECE2;
    padding: 7px;
    margin: 20px;
    border-radius: 7px;
    border: none;
}

.dash-carte-menus-container {
    display: flex;
    flex-direction: column;
    margin: 2vw;
}

.dash-carte-line {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.dash-carte-menu-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: solid 2px #5A3E29;
    background-color: #5A3E29;
    text-align: center;
    opacity: 1;
    background-image: radial-gradient(#6a513e 1.1px, #5A3E29 1.1px);
    background-size: 22px 22px;
    border-radius: 10px;
    width: 100%;
    min-height: 273px;
    box-shadow: 0px 0px 10px black;
    margin: 20px;
    padding: 10px;
}

.dash-carte-menu-container * {
    background: transparent;
    color: #F1ECE2;
}

.dash-carte-add-menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2vw;
}

.dash-carte-add-menu {
    border: solid 1px black;
    padding: 5px;
}



.dash-carte-main-content {
    display: flex;
}

/*----Horaires----*/
.dash-horaires-main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 70vh;
    width: 100%;
}

.dash-horaires-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 5px #5A3E29;
    text-align: center;
    padding: 10vw;
    box-shadow: 0px 0px 10px black;
    border-radius: 15px;
}
.dash-horaires-container *, .dash-horaires-container {
    background-color: transparent;
}

.dash-horaires-main-content {
    display: none;
}


/*----Footer----*/

footer {
    display: flex;
    justify-content: space-around;
    background-color: #5A3E29;
    opacity: 1;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #5A3E29 40px ), repeating-linear-gradient( #49322055, #493220 );
    padding: 20px;
    box-shadow: -5px 0px 20px;
}

#horaires {
    background-color: #F1ECE2;
    padding: 10px;
    border-radius: 10px;
    color: black;
}

.footer-title {
    text-align: center;
    font-family: 'IM Fell Great Primer SC', serif;
    color: #F1ECE2;
}

.footer-horaires {
    text-align: center;
    color: #F1ECE2;
}

.footer-container-follow {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.footer-follow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-logo {
    height: 30px;
    width: 30px;
}

.footer-contact {
    display: flex;
}

.footer-contact-button {
    border: none;
    border-radius: 5px;
    background-color: #F1ECE2;
    padding: 5px;
    margin-left: 10px;
}

.footer-contact-button:hover {
    box-shadow: 0px 0px 10px black;
}



/*-----Responsive----*/

@media screen and (max-width: 980px) {

    /*----Header----*/

    header {
        justify-content: flex-end;
    }

    nav ul {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: #5A3E29;
      padding: 10px;
      
    }
  
    nav ul.show {
      display: flex;
      padding-top: 50px;
      border-top: solid 3px #F1ECE2;
      border-bottom: solid 3px #F1ECE2;
    }
  
    nav ul li {
      margin: 10px 0;
    }

    .navbar-li-connect {
        border-top: 2px solid #F1ECE2;
        padding-left: 10px;
        list-style-type: disc;
    }

    .container-connect {
        position: inherit;
        display: flex;
        justify-content: center;
    }

    .logo {
        z-index: 1;
    }
  
    .hamburger {
      display: block;
      margin: 50px;
      border: solid 1px black;
      border-radius: 7px;
      background-color: #F1ECE2;
      box-shadow: 0px 0px 10px black;
      position: sticky;
      right: 5px;
    }

    .container-middle {
        flex-direction: column;
        align-items: center;
    }

    /*----carte.html----*/

    .carte-main-content {
        flex-direction: column;
    }

    .carte-title, .sign-form-title {
        padding-top: 70px;
    }

    .carte-menu-sections {
        margin: 30px;
        width: 80vw;
    }

    .carte-carte {
        width: 80vw;
    }

    /*----reserver.html----*/

    .reserver-main-content {
        padding-top: 70px;
    }

    .reserver-form-infos {
        flex-direction: column;
    }

    .reserver-form-tel {
        margin-top: 0px;
    }

    /*----Dashboard-admin----*/

    .dash-categories, .dash-categories img {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px;
    }

    .dash-categorie-name {
        display: none;
    }

    .dash-carte-container {
        flex-direction: column;
    }

    /*----Footer----*/

    footer {
        flex-direction: column;
    }

    .footer-contact {
        margin-top: 20px;
    }

  }

@media screen and (max-width: 875px) {
    .dash-carte-menus-container > .dash-carte-line{
        flex-direction: column;
    }

    .dash-carte-menus-container {
        width: 80vw;
    }
}
